ClientGUI/Connected Services/AlgorithmTwo/Compute41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://alb-1282291822.us-east-1.elb.amazonaws.com/AlgorithmServerTwo/Compute.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfTaskData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskData" nillable="true" type="tns:TaskData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskData" nillable="true" type="tns:ArrayOfTaskData" />
  <xs:complexType name="TaskData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DownloadSpeed" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EligibleProcessors" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LocalEnergy" type="xs:double" />
      <xs:element minOccurs="0" name="Ram" type="xs:double" />
      <xs:element minOccurs="0" name="ReferenceFrequency" type="xs:double" />
      <xs:element minOccurs="0" name="RemoteEnergy" type="xs:double" />
      <xs:element minOccurs="0" name="Time" type="xs:double" />
      <xs:element minOccurs="0" name="UploadSpeed" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskData" nillable="true" type="tns:TaskData" />
  <xs:complexType name="ArrayOfProcessorData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessorData" nillable="true" type="tns:ProcessorData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessorData" nillable="true" type="tns:ArrayOfProcessorData" />
  <xs:complexType name="ProcessorData">
    <xs:sequence>
      <xs:element minOccurs="0" name="C0" type="xs:double" />
      <xs:element minOccurs="0" name="C1" type="xs:double" />
      <xs:element minOccurs="0" name="C2" type="xs:double" />
      <xs:element minOccurs="0" name="DownloadSpeed" type="xs:double" />
      <xs:element minOccurs="0" name="Frequency" type="xs:double" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Ram" type="xs:double" />
      <xs:element minOccurs="0" name="UploadSpeed" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessorData" nillable="true" type="tns:ProcessorData" />
</xs:schema>