ClientGUI/Connected Services/AlgorithmTwo/Compute43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://alb-1282291822.us-east-1.elb.amazonaws.com/AlgorithmServerTwo/Compute.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:import schemaLocation="http://alb-1282291822.us-east-1.elb.amazonaws.com/AlgorithmServerTwo/Compute.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Run">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="Tasks" nillable="true" type="q1:ArrayOfTaskData" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="Processors" nillable="true" type="q2:ArrayOfProcessorData" />
        <xs:element minOccurs="0" name="Runtime" type="xs:double" />
        <xs:element minOccurs="0" name="Timeout" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RunResult" nillable="true" type="q3:ArrayOfArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>